# clang-format configuration file
# Based on K&R style with custom modifications

BasedOnStyle: LLVM

Language: C

IndentWidth: 8
TabWidth: 8
UseTab: Always

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: Never
  AfterClass: false
  AfterStruct: false
  AfterUnion: false
  AfterEnum: false
  AfterNamespace: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

ColumnLimit: 80

AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: true
AlignOperands: Align
AlignTrailingComments: true

AllowAllParametersOfDeclarationOnNextLine: true
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None

BinPackArguments: true
BinPackParameters: true

BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true

ContinuationIndentWidth: 8

IndentCaseLabels: false
IndentPPDirectives: None

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1

PointerAlignment: Right
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

SortIncludes: false

ForEachMacros:
  - 'list_for_each'
  - 'list_for_each_safe'
  - 'list_for_each_entry'
  - 'list_for_each_entry_safe'
  - 'hlist_for_each'
  - 'hlist_for_each_safe'
  - 'hlist_for_each_entry'
  - 'hash_table_for_each_possible'
  - 'hash_table_for_each_possible_entry'
  - 'rb_for_each'
  - 'rb_for_each_safe'
  - 'rb_for_each_entry'
  - 'task_for_each_child'
