*
!arch/
!arch/riscv/
!arch/riscv/include/
!arch/riscv/include/arch/
!arch/riscv/include/asm/
!arch/riscv/kernel.ld
!include/
!include/uapi/
!include/nuvix/
!include/nuvix/compiler/
!drivers/
!syscall/
!kernel/
!sched/
!block/
!init/
!docs/
!scripts/
!scripts/tools/
!fs/
!fs/ext2/
!fs/vfs/
!lib/
!mm/
!configs/
!tools/
!tools/kconfig/
!tools/kconfig/lxdialog/



!**/*.mk
!scripts/*.sh
!scripts/tools/*.sh
!Kconfig
!**/Kconfig
!**/*.h
!arch/**/*.c
!arch/**/*.S
!block/**/*.c
!drivers/**/*.c
!fs/**/*.c
!include/**/*.h
!init/**/*.c
!kernel/**/*.c
!lib/**/*.c
!lib/**/*.S
!mm/**/*.c
!configs/**/*
!tools/kconfig/.gitignore
!tools/kconfig/Makefile
!tools/kconfig/*.c
!tools/kconfig/*.h
!tools/kconfig/*.l
!tools/kconfig/*.y
!tools/kconfig/lxdialog/*.c
!tools/kconfig/lxdialog/*.h
!drivers/*.c
!syscall/*.c
!sched/*.c
!sched/*.h
!.clang-format
!.clangd
!.editorconfig
!.gitignore
!Makefile
!README.md
!LICENSE
!Doxyfile
!.agents/skills/**/*
tools/kconfig/build/
tools/kconfig/build/**/*
