*
!arch/
!arch/riscv/
!arch/riscv/include/
!arch/riscv/include/arch/
!arch/riscv/include/asm/
!arch/riscv/kernel.ld
!include/
!include/compiler/
!include/uapi/
!include/nuvix/
!drivers/
!syscall/
!kernel/
!sched/
!block/
!init/
!docs/
!scripts/
!scripts/tools/
!fs/
!fs/ext2/
!fs/vfs/
!lib/
!mm/
!configs/
!tools/
!tools/kconfig/
!tools/kconfig/lxdialog/
!user/
!user/busybox
!user/libc/
!user/libc/musl
!user/linux-uapi
!user/linux-uapi/include/linux
!user/rootfs/
!user/rootfs/busybox/
!user/rootfs/busybox/inittab
!user/runtime/
!user/runtime/**
!user/ci/
!user/ci/**/



!**/*.mk
!scripts/*.sh
!scripts/tools/*.sh
!Kconfig
!**/Kconfig
!**/*.h
!arch/**/*.c
!arch/**/*.S
!block/**/*.c
!drivers/**/*.c
!fs/**/*.c
!include/**/*.h
!init/**/*.c
!kernel/**/*.c
!lib/**/*.c
!lib/**/*.S
!mm/**/*.c
!configs/**/*
!tools/kconfig/.gitignore
!tools/kconfig/Makefile
!tools/kconfig/*.c
!tools/kconfig/*.h
!tools/kconfig/*.l
!tools/kconfig/*.y
!tools/kconfig/lxdialog/*.c
!tools/kconfig/lxdialog/*.h
!drivers/*.c
!syscall/*.c
!sched/*.c
!sched/*.h
!user/**/*.c
!user/**/*.h
!user/**/*.in
!user/**/*.zig
!user/ci/**/*.md
!user/ci/rootfs/inittab
!user/Makefile
!.clang-format
!.clangd
!.editorconfig
!.gdbinit.tmpl-riscv
!.gitignore
!Makefile
!README.md
!SYSCALL.md
!LICENSE
!Doxyfile
!.agents/skills/**/*
tools/kconfig/build/
tools/kconfig/build/**/*
