CONFIG_ARCH_RISCV=y
CONFIG_PLATFORM_QEMU_VIRT=y
CONFIG_DRAM_SIZE_MB=256
CONFIG_QEMU_CPUS=2
CONFIG_EXT2_FS=y
CONFIG_ROOTFS_IMAGE_SIZE_MB=16
CONFIG_CC_OPTIMIZE_O2=y
CONFIG_GC_SECTIONS=y
CONFIG_LTO=y
# CONFIG_FRAME_POINTER is not set
# CONFIG_DEBUG_CONTEXT is not set
# CONFIG_DEBUG_INFO is not set
# CONFIG_UBSAN is not set
# CONFIG_KSYMS is not set
